body {
  background-color: rgb(252, 226, 141);
}

h1 {
  text-align: center;
  font-size: 48px;
}

p {
  text-align: center;
  font-size: 18px;
}

.paragraph {
  margin-top: 50px;
}

.contact-text {
  margin-top: 50px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 15px;
}

.link {
  color: green;
}

.photo {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}
